html,body{
  height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 1.2rem;
	width: 100%;
}

.img-fancy-load {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.img-fancy-load .img-placeholder {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  background-image: url('/loading-img.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.img-fancy-load img {
	width: 100%;
	height: 300px;
}

footer .badge {
	font-size: 0.9rem;
}

.infinity-loader {
  margin-right: auto;
  margin-left: auto;
}

.infinity-loader img {
  width: 100px;
}

.infinity-loader.reached-infinity img {
  display: none;
}