{{#each @model as |book|}}
	<BookItem @book={{ book }} />
{{else}}
	<div class="alert alert-warning mx-auto" role="alert" data-test="no-books">
		There are no books to be displayed. Try looking on {{#link-to "books" class="alert-link"}}homepage{{/link-to}} for more awesome books!
	</div>
{{/each}}