{{#if this.model.length }}
	<h1 class="pl-3 pr-3 font-weight-normal">Showing you <span class="font-weight-bold">all the books</span> from the author name: <span class="font-italic">"{{ this.query }}"</span></h1>
{{/if}}

<ListBooks @model={{ this.model }} />